sass_binary_site=https://cdn.npmmirror.com/binaries/node-sass/
phantomjs_cdnurl=https://cdn.npmmirror.com/binaries/phantomjs
canvas_binary_host_mirror=https://cdn.npmmirror.com/binaries/canvas/
electron_mirror=https://cdn.npmmirror.com/binaries/electron/
