html, body {
  width: 100%;
  height: 100%;
}

:root {
  font-family: Rubik,-apple-system,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --theme-color: #2d8cf0;
  --theme-color-hover: #227fe2;
}

body {
  font-family: Rubik,-apple-system,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

a {
  font-weight: 500;
  color: var(--theme-color);
  text-decoration: inherit;
  transition: color .3s;
}
a:hover {
  color: var(--theme-color-hover);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #2d8cf0;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/** override naiveui */
.n-form-item .n-input-number {
  width: 100%;
}
.n-form-item .n-slider {
  padding: 0 2px;
}
.n-form-item .n-form-item-feedback {
  font-size: .8em;
  margin-bottom: 16px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #3c9bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (prefers-color-scheme: dark) {
    .theme-color {
        filter: invert(1) hue-rotate(180deg);
    }
}
